body {
  background-color: #e0d6ca;
}

#configurator {
  display: grid;
  grid-template-columns: auto 325px;
}

#left {
}

#right {
  border-radius: 30px;
  background: #f2ebe2;
  padding: 20px;
}

.bikecolor {
  width: 10px;
  height: 10px;
}

.leathercolor {
  width: 10px;
  height: 10px;
}

.wheelcolor {
  width: 10px;
  height: 10px;
}

img {
  width: 50px;
}
