:root {
  --box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

body {
  background-color: #e0d6ca;
  margin: 0;
}

/*---CONFIGURATOR---*/
.hide {
  display: none;
}

#product-preview {
  max-width: 70vw;
  margin: auto;
}

#selected ul {
  list-style-type: none;
  align-self: center;
  margin-top: 2vw;
}

#selected ul li {
  display: inline-block;
}

#selected ul li img {
  width: 60px;
}
svg {
  margin-bottom: 25px;
  margin-top: 35px;
}
#selected {
  grid-area: features;
  background-color: #f2ebe2;
  border-radius: 40px;
  margin: auto;
  display: grid;
  box-shadow: var(--box-shadow);
  padding-left: 20px;
  padding-right: 20px;
  /* overflow-x: scroll; */
}
.heading {
  /* margin-left: 16px; */
  margin-bottom: 25px;
  margin-top: 8px;
  font-family: "Poiret One", cursive;
  color: #6b836b;
  font-size: 1.1rem;
}

#selected ul {
  list-style-type: none;
  margin-top: -23px;
  margin-left: -29px;
  display: flex;
  align-items: center;
  gap: 1vw;
}

#selected ul li img {
  width: 50px;
}

#right {
  margin-top: 15px;
  border-radius: 40px;
  background: #f2ebe2;
  padding: 20px 20px 0 20px;
  box-shadow: var(--box-shadow);
  height: 340px;
  overflow-y: scroll;
}

.wrapper {
  display: flex;
  gap: 8px;
}
figure {
  padding: 8px;
  width: 35px;
  height: 35px;
  margin: 0;
  min-width: 35px;
  max-height: 28px;
  display: grid;
}

.wrapper img {
  max-width: 100%;
  max-height: 100%;
  place-self: center;
  overflow: hidden;
}

.wrapper div,
.wrapper img {
  cursor: pointer;
}

.bikecolor,
.leathercolor,
.wheelcolor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  box-shadow: var(--box-shadow);
}
.chosen {
  border: 3px solid #9ea89e;
  border-radius: 50%;
  margin: -4px;
}
.picker {
  margin-bottom: 30px;
}
#left {
  align-self: end;
}
/* @media (min-width: 600px) {
} */
/* ---------------------------media 800px--------------------------- */
@media (min-width: 800px) {
  svg {
    margin-bottom: 84px;
  }
  #configurator {
    display: grid;
    grid-template-columns: auto 320px;
    padding: 10px 10px 10px 0;
  }

  #selected {
    padding-left: 0px;
    padding-right: 0px;
    height: 122px;
    width: 92%;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
  }

  #selected ul {
    margin-top: 1vw;
    margin-left: 0;
  }

  #selected .heading {
    margin-left: 38px;
    margin-bottom: 0;
  }

  #right {
    margin-top: 0px;
    border-radius: 30px;
    height: auto;
  }

  figure {
    padding: 7px;
    width: 38px;
    height: 29px;
  }

  .bikecolor,
  .leathercolor,
  .wheelcolor {
    width: 3.5vw;
    height: 3.5vw;
  }
}

/* ---------------------------media 1050px--------------------------- */
@media (min-width: 1050px) {
  svg {
    margin-bottom: 0;
  }

  #configurator {
    padding: 12px 25px 5px 0;
  }

  #selected {
    height: 102px;
    width: 96%;
    border-radius: 37px;
  }

  #selected .heading {
    margin-left: 50px;
  }

  figure {
    margin: 0;
    width: 60px;
    height: 60px;
    max-height: 60px;
    min-width: 60px;
    padding: 7px;
  }
  .bikecolor,
  .leathercolor,
  .wheelcolor {
    width: 50px;
    height: 50px;
  }
}

/*---Front Page---*/

/* nav {
  position: absolute;
}

#splash {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#splash img {
  position: relative;
  top: -45%;
  z-index: -1;
  width: 100%;
} */

nav {
  position: fixed;
  top: 0.5vw;
  left: 2vw;
  z-index: 10;
}

nav a {
  color: white;
  font-family: "La Belle Aurore", cursive;
  font-size: 2em;
  text-decoration: none;
}

#splash {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#splash_image {
  background-image: url("splash.jpg");
  background-size: cover;
  background-position: bottom;
}

#welcome {
  margin: auto;
  background-color: #b5c3af;
  width: 100%;
  height: 100%;
}

#welcome p {
  text-align: center;
  margin-top: 35%;
  margin-bottom: 15%;
  font-family: "Poiret One", cursive;
  color: white;
  font-size: 2rem;
}

img#arrow {
  width: 2vw;
  height: auto;
  z-index: 1;
  display: flex;
  margin: auto;
  margin-top: 10vw;
}

/* icons */
#symbols {
  width: 100%;
  padding: 2vw;
  background-color: #6b836b;
  display: flex;
  align-items: center;
  gap: 5vw;
  justify-content: space-evenly;
}

#symbols span {
  text-align-last: center;
  font-family: "Poiret One", cursive;
  color: white;
  font-size: 1.2rem;
}

#symbols img {
  width: 4vw;
}

/*---Bike animation---*/

#bike svg {
  height: 80vh;
  width: 80vw;
  margin: auto;
  display: flex;
}

.bike h2 {
  text-align: center;
  margin-top: 6vw;
  color: #9ea89e;
  font-size: 2.3rem;
  font-family: "La Belle Aurore", cursive;
}

.bike {
  position: relative;
}

.frame {
  width: 100%;
  bottom: 7vw;
}

.piece:not(.frame) {
  position: absolute;
  bottom: 7vw;
  width: 100%;
}

/*---button---*/

#link_configur {
  height: 100px;
}

.button {
  width: 15vw;
  height: 0.6vw;
  border: 2px solid white;
  border-radius: 50px;
  padding: 2vw;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #6b836b;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.button a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: "Poiret One", cursive;
  text-align: center;
}

.button:hover {
  border: 2px solid #8e9a89;
  background-color: white;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

.button:hover a {
  color: #8e9a89;
}
